*{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    font-style: normal;
}
.navbar{
    background-color: darkgray;
    justify-content:flex-end;
}
    

.navbar-brand{
    font-size: 50px;
    font-weight: bolder;
    
    
}

.menu{
    font-size: 40px;
    font-weight: bolder;
    font-style: oblique;
    margin: 5px auto 40px auto;
}
.row{
    display: flex;
   
    justify-content:space-around;
    margin-left: 20px;
    margin-right: 20px;
}
.col-lg-4 {
    border: 2px solid gray;
    border-spacing: 10px;
    background-color: gray;
    color:black;
    font-weight: 800;
    

}
.col-lg-4 p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;

}
@media (min-width: 576px){
    hr{
        border: 2px solid black;
    }
}
